*{margin: 0 auto; list-style: none; text-decoration: none; color: black;}
a{color:cornflowerblue;}
a:hover{color: blue;}
body{width: 1000px;}

header{height: 120px;}
header>.logo{float: left; width: 100px; margin-top: 20px;}
header>.nav{float: right; margin-top: 20px; width: 600px; height: 20px;}
.nav{width: 600px; height: 20px;}
.nav>li{
    float: left;
    text-align: center;
    width: 200px;
    background-color:lavender;
    position: relative;
    padding: 10px 0;
}
.nav>li:hover{
    background-color: lightgrey;
    color: aliceblue;
}
#login{
    text-align: center;
    clear: both;
    margin-top: 20px;
    padding-right: 20px;
}
